@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 5em;
  margin: .67em 0;
  font-family: 'Monoton', cursive;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 125%;
}

h2, h4, h5, h6,  {
  font-family: 'Libre Baskerville', serif;
  color: #2b2b2b;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 4rem;
  -webkit-animation: blink 4s linear infinite alternate;
          animation: blink 4s linear infinite alternate;
  text-transform: uppercase;
}

p, a {
  font-family: 'Libre Franklin', sans-serif;
  color: #2b2b2b;
}

section {
  padding: 80px 0;
}

.wrapper {
  width: 99%;
  margin: 0 auto;
  padding-left: 5px
  max-width: 1080px;
}

ul {
  list-style: none;
}

.arrow {
  text-align: center;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes blink {
  0% {
    text-shadow: 2px  2px 10px #fff , -2px  2px 10px #fff , 2px -2px 10px #fff , -2px -2px 10px #fff;
  }
  100% {
    text-shadow: 2px  2px 10px #777 , -2px  2px 10px #777 , 2px -2px 10px #777 , -2px -2px 10px #777;
  }
}

@keyframes blink {
  0% {
    text-shadow: 2px  2px 10px #fff , -2px  2px 10px #fff , 2px -2px 10px #fff , -2px -2px 10px #fff;
  }
  100% {
    text-shadow: 2px  2px 10px #777 , -2px  2px 10px #777 , 2px -2px 10px #777 , -2px -2px 10px #777;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header {
  background: rgb(161,182,160);
background: linear-gradient(90deg, rgba(161,182,160,1) 36%, rgba(194,175,176,1) 55%, rgba(217,201,211,1) 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: transparent;
}

.header h1 {
  position: relative;
  top: 10px;
  left: 10px;
}

nav {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 0rem;
  color:#a1b6a0
}

nav .reg-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .reg-menu li {
  margin-left: 30px;
}

nav .reg-menu li a {
  text-decoration: none;
  display: block;
  position: relative;
}

nav .reg-menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: ##a1b6a0;
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

nav .reg-menu li a:hover::after,
nav .reg-menu li a:focus::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
}

nav .reg-menu li a:hover {
  color: #FFFFFF;
}

h1 {
  font-family: 'Monoton', cursive;
  margin-top: 200px;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 3px;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}

header .arrow {
  padding: 50px;
}

.large {
  font-size: 15rem;
  position: relative;
  right: -70%;
}

.small {
  font-size: 7rem;
  position: relative;
  right: -70%;
}

.medium {
  font-size: 3rem;
  position: relative;
  right: -73%;
  top: -40%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#burger-menu {
  display: none;
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}

#burger-menu.close span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 27px;
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.8);
}

#menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

#menu a:hover, #menu a:focus {
  color: #d9c9d3;
  background-size: 0 0.1em, 100% 0.1em;
}

.about {
  background-color: #eed5db;
  padding: 100px 0;
  position: relative;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  -webkit-animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
          animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.about ul li {
  width: 42%;
}

.about ul li img {
  width: 90%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: left;
  width: 50%;
}

.text h4 {
  font-size: 3rem;
}

.text p {
  font-size: 1.3rem;
  margin-top: 15px;
  letter-spacing: 1px;
  line-height: 1.3;
}

.skills {
  background-color: #a1b6a0;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px;
  text-align: center;
}

.skills ul li {
  width: calc(100% / 4 - 10px);
  color: #2b2b2b;
  margin-bottom: 50px;
}

.skills ul li i {
  font-size: 3.5rem;
}

.skills ul li p {
  text-transform: uppercase;
  margin-top: 10px;
}

.skills p {
  text-align: center;
}

.work {
  background-color: #eed5db;
}

.pro-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h4 {
  color: #ebeb8b;
  font-size: 3rem;
}

.work .arrow {
  margin-top: 50px;
}

.discription {
  font-weight: 700;
  color: #C86766;
  -webkit-text-stroke: 2pxã€€ #FFFFFF;
}

.contact {
  background-color: #a1b6a0
  padding-bottom: 20px;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.contact h4 {
  color: #2b2b2b;
}

.contact-flex ul {
  width: 45%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

input {
  margin-bottom: 10px;
  padding: 10px;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
}

.contact .arrow {
  padding-top: 50px;
}

button {
  color: #2b2b2b;
  background-color: #DBA4A4;
  border: none;
  padding: 10px 20px;
}

button:hover {
  color: #DBA4A4;
  background-color: #FFFFFF;
}

.contact-mini {
  font-size: 9rem;
}

.info {
  margin-top: 15px;
}

.info a {
  font-size: 3rem;
  margin: 0 15px 0 0;
}

footer p {
  background: rgb(161,182,160);
background: radial-gradient(circle, rgba(161,182,160,1) 32%, rgba(217,201,211,1) 68%);
  padding: 15px 20px;
  text-align: center;
}

@media (max-width: 1080px) {
  .pro-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pro-work li {
    margin: 70px 0 0 0;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .large,
  .small {
    right: -50%;
  }
  h1 {
    margin-top: 100px;
  }
  .about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about ul li {
    width: 100%;
  }
  .about ul li img {
    width: 50%;
  }
  .about .arrow {
    margin-top: 50px;
  }
  .skills ul {
    margin: 30px 0 0 0;
  }
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-flex ul {
    width: 100%;
  }
  form {
    width: 80%;
    margin-top: 20px;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  .large {
    font-size: 10rem;
    right: -64%;
  }
  .small {
    font-size: 5rem;
    right: -64%;
  }
}

@media (max-width: 674px) {
  .skills ul li p {
    font-size: 1rem;
  }
}

@media (max-width: 595px) {
  nav .reg-menu {
    display: none;
  }
  #burger-menu {
    display: block;
  }
  h3 {
    font-size: 3rem;
  }
  .about {
    padding: 50px 0;
  }
  .skills {
    padding: 30px 0;
  }
  .work {
    padding: 50px 0;
  }
  .pro-work li {
    margin-top: 40px;
  }
  .contact {
    padding: 30px 0;
  }
}

@media (max-width: 561px) {
  .large,
  .small {
    right: -47%;
  }
  .skills ul li {
    width: calc(100% / 3 - 10px);
  }
}

@media (max-width: 520px) {
  h4 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  .logo {
    font-size: 0rem;
  }
  h1 {
    font-size: 3rem;
    margin-top: 50px;
  }
  h2 {
    font-size: 2rem;
  }
  .large {
    font-size: 5rem;
  }
  .small {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .skills ul li p {
    font-size: 0.8rem;
  }
  h4 {
    font-size: 2rem;
  }
}

@media (max-width: 390px) {
  h2 {
    font-size: 1.5rem;
  }
  .about ul {
    margin-top: 30px;
  }
  .text p {
    margin-top: 30px;
  }
}
